.random-planet {
    background-color: #32383e;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 16px;
    height: 22em;
}

.random-planet img {
    width: 15vw;
    height: 15vw;
    border-radius: 32px;
}

.random-planet-term {
    margin-right: 5px;
}